version: '3.8'

services:
  ms-teams-chat-bot:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3978:3978"
    depends_on:
      - mongo

  mongo:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

volumes:
  mongo_data:
